:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    
    --white: white;
    --blue: hsl(248, 32%, 49%);

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--red);
}

small {
    font-weight: 400;
}

#container {
    padding: 10vh 0px;
    height: 100vh;

    background-image: url(../resources/images/bg-intro-desktop.png);
}

#main {
    margin: auto;
    width: 80%;
    min-height: 80vh;

    display: grid;
    grid-template-columns: 50% 50%;

    padding: 15px;
}

#info {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

#info h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--white);

    padding: 10px 0px;
}

#info p {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);

    padding: 10px 0px;
}

#register {
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#trial-info {
    background-color: var(--blue);
    color: var(--white);

    text-align: center;
    font-size: 16px;
    font-weight: 400;

    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

#trial-info b {
    font-weight: 600;
}

#form {
    background-color: var(--white);

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px;
    border-radius: 10px;
}

#form div {
    width: 100%;
}

.input-container {
    position: relative;
}

#form input,
#form button {
    width: 100%;
    font-size: 16px;

    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
}

#form input {
    border: solid 1px var(--grayish-blue);
    font-weight: 600;

    outline: none;
}

#form input:focus {
    border: solid 2px var(--blue);

    caret-color: var(--blue);
}

#form input:focus::placeholder {
    color: var(--dark-blue);
}

.error-icon {
    position: absolute;
    right: 0;

    padding: 10px 20px;
    opacity: 0;
}

.error-msg {
    color: var(--red);
    
    text-align: right;
    font-style: italic;
    font-weight: 500;

    margin: 5px 0px;
    display: none;
}

#form button {
    background-color: var(--green);
    color: var(--white);

    border: solid 1px var(--green);
    font-weight: 600;

    cursor: pointer;
    transition: all 0.8s ease;    
}

#form button:hover {
    opacity: 0.6;
}

#form-text {
    text-align: center;
}

#form-text > small {
    color: var(--grayish-blue);
}

#form-text > small > a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 900px) {
    #container {
        height: 100%;
    }

    #main {
        display: flex;
        flex-direction: column;

        min-height: fit-content;
        padding: 0px;
    }

    #info {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #info h1,
    #info p {
        text-align: center;
        font-size: revert;
    }

    #register {
        height: fit-content;
        margin-top: 30px;
        margin-left: 0px;
    }

    #trial-info {
        font-size: revert;

        padding-left: 30px;
        padding-right: 30px;
    }

    #form input,
    #form button {
        padding: 10px 20px;
        margin: 5px 0px;

        font-size: revert;
    }

    .error-icon {
        padding: 15px 20px;
    }

    .error-msg {
        margin: 0px;
    }
}